body {
   color:#333;
}

#logo {
  float:left;
  height:700px;
  width:190px;
}

h1 {
  font:bold 24px Arial,sans-serif;
}

p, ul, footer {
  font:normal 14px Tahoma,Verdana,Arial,sans-serif;
}

p {
  margin: 20px 0 20px 0;
}

li {
  margin:8px 0 8px 0;
}

footer {
  margin:50px 0 0 0;
}