body {
    margin:10pt 15pt 0 0;
}

small {
    display:block;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-weight: normal;
    font-size: 8pt;
    font-style: italic;
    padding:0;
    margin:10pt 0 4pt 0;
}

section {
    margin:0 5pt 10pt 5pt;
    padding:5pt;
    border:1px dotted #aaa;
    float:left;
    background:#fafafa;
}

section.top {
    float:none;
    border:none;
    background:none;
    margin:0 5pt 0 5pt;
}

header p {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-weight: bold;
    font-size: 10pt;
    padding:0;
    margin:0 0 4pt 0;
}

header b {
    font-size: 13pt;
}

section.top header b {
    font-size: 12pt !important;
}


ul {
    margin:0;
    padding:0;
    list-style-type:none;
}

li {
    margin:1pt 0 1pt 0;
    padding:0;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-weight: normal;
    font-size: 10pt;
}

em {
    font-size:75%;
    color:#666;
}

button {
    margin:0 10pt 0 10pt;
}

#result {
    display:none;
}

code {
    font-weight: bold;
    font-size:14pt;
    padding:4pt;
    background:#f0f0f0;
    border:1px dotted #fafafa;
}
