h1 {
	font:14pt bold Arial,sans-serif;
}

h2 {
	font:13pt bold Arial,sans-serif;
}

ul {
	padding:0 0 0 20pt;
}

ul li {
	font:11pt normal Tahoma,Verdana,Arial,sans-serif;
	padding:5pt 0;
	margin:0;
}

ul li a {
	margin-left:20pt;
}

code {
	font: 9pt normal Courier New, monospace;
	white-space: nowrap;
	display: block;
	overflow-x: scroll;
	padding:8pt 15pt;
	border:1px dotted #333;
	background-color:#eee;
	margin-right:20pt;
}

footer {
	margin-top:30pt;
	font:9pt normal Tahoma,Verdana,Arial,sans-serif;
}