body {
  color:#333;
}

aside {
  position:fixed;
  margin:0;
  padding:0;
}

main {
  margin-left:170px;
}

main.error {
  margin-left:270px;
}

h1 {
  font:bold 24px Arial,sans-serif;
  margin:20px 0 5px 0;
}

h2 {
  font:bold 14px Tahoma,Verdana,Arial,sans-serif;
  margin:20px 0 5px 0;
}

p, ul, footer {
  font:normal 14px Tahoma,Verdana,Arial,sans-serif;
}

p {
  margin: 20px 0 0 0;
}

ul {
  list-style-position: inside;
  padding:0;
  margin:10px;
}

li {
  text-indent: -20px;
  padding-left: 12px;
  margin:8px auto;
}

footer {
  margin:50px 0 0 0;
}
